body{
    background-size: cover;
}
.heading{
    color: black;
    font-size: 30px;
    width: 100%;
    margin-top: 0;
}
.heading:hover{
    color: rgb(68, 68, 68);
}
#heading{
    color: black;
}
#objectNum{
    font-size: small;
}
.home{
    float: left;
    background-color: rgba(255, 255, 255, 0);
    border: 0px rgba(255, 255, 255, 0) solid;
}
i{
    color: black;
    font-size: 40px !important;
}
i:hover {
  color: rgb(41, 41, 41);
}
.buttons{
    width: 350px;
    border-radius: 50px;
    background-color: white;
    border:0px white solid;
    font-weight: bold;
    height: 40px;
    color: black;
    font-size: large;
    margin-top: 40px;
}
.buttons:hover{
    background-color: rgb(221, 221, 221);
    color: rgb(37, 37, 37);
}
#topButton{
    margin-top: 65px;
}

canvas{
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
}