body{
    background-size: cover;
}
#heading{
    color: black;
}
.buttons{
    width: 350px;
    border-radius: 50px;
    background-color: white;
    border:0px white solid;
    font-weight: bold;
    height: 40px;
    color: black;
    font-size: large;
    margin-top: 40px;
}
.buttons:hover{
    background-color: rgb(221, 221, 221);
    color: rgb(37, 37, 37);
}
#topButton{
    margin-top: 65px;
}

canvas{
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
}